.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.DS_Store
frontend/node_modules
frontend/.next
frontend/out
backend/.env.local
.env
.env.local
dist
build
tmp
*.log
