/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/build
/frontend/dist
/frontend/public
/frontend/static
/frontend/templates
/frontend/media
/frontend/media_root
/frontend/media_root/media
/frontend/.env
/frontend/.env.local


/backend/.env
/backend/venv
/backend/__pycache__
/backend/migrations
/backend/alembic.ini
/backend/alembic.ini.example
/backend/alembic.ini.example.bak
/backend/alembic.ini.example.bak.2
/backend/alembic.ini.example.bak.3
/backend/alembic.ini.example.bak.4
/backend/alembic.ini.example.bak.5
/backend/alembic.ini.example.bak.6
/backend/.env.local
./dev
dev

.env
.env.local
__pycache__/